.compare {
  &__title {
    margin: 0 0 48px;
    text-align: center;
    box-sizing: content-box;
    grid-column: 1 / -1;
    font-family: $main-font;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;

    @include on-tablet {
      font-size: 48px;
      line-height: 100%;
    }

    @include on-laptop {
      font-size: 64px;
      line-height: 100%;
      margin-bottom: 56px;
    }
  }

  &__article {
    grid-column: 1 / -1;
    margin-bottom: 40px;
    transition: transform $anim-delay;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-laptop {
      grid-column: span 4;
      margin-bottom: 0;
    }
  }

  &__img {
    width: 100%;
    height: 228px;
    margin-bottom: 32px;
    transition: transform $anim-delay ease;

    &:hover {
      transform: scale(1.05);
    }

    @include on-tablet {
      height: 316px;
    }

    @include on-laptop {
      height: 256px;
    }
  }
}

.bike {
  &__name {
    margin: 0 0 8px;
    grid-column: span 1;
    font-family: $main-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__description {
    margin: 0 0 16px;
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &__price {
    margin: 0;
    font-family: $main-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}
