.details {
  &__title {
    margin: 0 0 48px;
    text-align: center;
    grid-column: 1 / -1;
    font-family: $main-font;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;

    @include on-tablet {
      font-size: 48px;
      line-height: 100%;
      margin: 80px 0 64px;
    }

    @include on-laptop {
      font-size: 64px;
      line-height: 100%;
      margin: 144px 0 48px;
    }
  }
}

.detail__img {
  grid-column: span 1;
  margin-bottom: 16px;
  width: 130px;
  height: 130px;
  background-position: center;
  background-size: cover;
  transition: transform $anim-delay ease;

  &:hover {
    transform: scale(1.05);
  }

  &--long {
    @include on-tablet {
      grid-column: span 4;
      width: 392px;
      height: 187px;
    }

    @include on-laptop {
      grid-column: span 8;
      width: 672px;
      height: 321px;
    }
  }

  &--square {
    @include on-tablet {
      grid-column: span 2;
      width: 184px;
      height: 187px;
    }

    @include on-laptop {
      grid-column: span 4;
      width: 324px;
      height: 320px;
    }
  }
}

.article {
  &__title {
    margin: 0 0 8px;
    grid-column: 1 / -1;
    font-family: $main-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__description {
    margin: 0 0 40px;
    grid-column: 1 / -1;
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    @include on-tablet {
      margin-bottom: 48px;
    }

    @include on-laptop {
      grid-column: span 9;
      margin-bottom: 48px;
    }
  }
}

.explore__button {
  display: block;
  grid-column: 1 / -1;
  height: 56px;
  background-color: #fff;
  border-radius: 40px;
  transition: box-shadow $anim-delay;
  text-align: center;
  line-height: 56px;
  text-decoration: none;
  color: #1d1d1d;
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;

  &,
  .contact-us__form input[type='submit'] {
    transition:
      transform $anim-delay ease,
      box-shadow $anim-delay ease,
      background-color $anim-delay ease;
  }

  @include on-tablet {
    grid-column: 2 / -2;
  }

  @include on-laptop {
    grid-column: 5 / 9;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
    background-color: #f0f0f0;
  }

  &:active {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
  }
}
