.main {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, 130px);
  gap: 0 20px;
  padding: 60px 20px 120px;
  background-color: #1d1d1d;
  overflow-x: hidden;

  @include on-tablet {
    grid-template-columns: repeat(6, 80px);
    gap: 0 24px;
    padding: 120px 72px 102px;
  }

  @include on-laptop {
    grid-template-columns: repeat(12, 63px);
    gap: 0 24px;
    padding: 120px 120px 164px;
  }

  &__title {
    height: 32px;
    margin: 0 0 32px;
    grid-column: 1 / -1;
    font-family: $main-font;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include on-tablet {
      grid-column: 1 / 4;
      font-size: 48px;
    }

    @include on-laptop {
      grid-column: 1 / 6;
      font-size: 64px;
    }
  }

  &__slogan {
    margin: 0 0 92px;
    grid-column: 1 / -1;
    font-family: $main-font;
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0;

    @include on-tablet {
      grid-column: 4 / -1;
      margin-bottom: 132px;
    }

    @include on-laptop {
      grid-column: 6 / -2;
      margin-bottom: 164px;
    }
  }

  &__logo {
    display: flex;
    cursor: pointer;
    transition: transform $anim-delay ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}
